ORIENTAÇÕES A SEREM RESPONDIDAS:

1. pegue somente os pokemons de grama lendários
2. pegue o pokemon com mais vida 
3. pegue os pokemons com mais de 80 de spAtk e menos de 120 spAtk
4. pegue a geração pokemon com maior numero de pokemons
5. pegue os pokemons com apenas um único tipo, quantos pokemons são e qual a media entre os tipos
6. pegue os pokemons que começam com j 
7. pegue o tipo mais comum de pokemon

In [5]:
#importação dos modulos que vamos usar 
import pandas as pd

In [6]:
#importação da tabela.csv
tabela_original = pd.read_csv('Pokemon.csv')
display(tabela_original)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,1021,Raging Bolt,Electric,Dragon,590,125,73,91,137,89,75,9,True
1100,1022,Iron Boulder,Rock,Dragon,590,90,120,80,68,108,124,9,True
1101,1023,Iron Crown,Steel,Psychic,590,90,72,100,122,108,98,9,True
1102,1024,Terapagos,Normal,NaN,700,160,105,110,130,110,85,9,True
1103,1025,Pecharunt,Poison,Ghost,600,88,88,160,88,88,88,9,True

In [7]:
# 1 . pegue somente os pokemons de grama lendários

#copiando a tabela original
tabela = tabela_original.copy()

#lendo linha por linha dos tipos 1 e 2 e dos lendários
for linha in tabela.index:
    tipo1 = tabela.loc[linha, 'Type 1']
    tipo2 = tabela.loc[linha, 'Type 2']
    lendario = tabela.loc[linha, 'Legendary']
    
    #removendo os valores que não vamos usar, ou seja, os diferentes de grama
    if tipo1 != 'Grass' and tipo2 != 'Grass':
        tabela = tabela.drop(linha)

    #removendo os valores que não são lendários 
    elif lendario == False:
        tabela = tabela.drop(linha)

#mostrando a nova tabela 
display(tabela)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
865,787,Tapu Bulu,Grass,Fairy,570,70,130,115,85,95,75,7,True
971,893,Zarude,Dark,Grass,600,105,120,105,70,95,105,8,True
976,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,True
1087,1009,Walking Wake,Grass,Water,590,99,83,91,125,83,109,9,True
1088,1010,Irong Leaves,Grass,Psychic,590,90,130,88,70,108,104,9,True
1095,1017,Ogerpon,Grass,NaN,550,80,120,84,60,96,110,9,True
1097,1019,Hydrapple,Grass,Dragon,540,106,80,110,120,80,44,9,True

In [8]:
# 2 . pegue o pokemon com mais vida 

#analisando linha por linha pegando a coluna HP
for linha in tabela_original.index:
    vida = tabela_original.loc[linha,'HP']

    #vendo o pokemon com mais vida
    max_vida = tabela_original['HP'].max()   
    
    #quando a linha analisada tiver com a maior vida
    if vida == max_vida: 

        #mostrando os resultados
        print(f"o pokemon com mais vida é {tabela_original.loc[linha,'Name']}")

o pokemon com mais vida é Blissey

In [9]:
# 3 . pegue os pokemons com mais de 80 de spAtk e menos de 120 spAtk

#copiando a tabela original
tabela = tabela_original.copy()

#analisando linha por linha da tabela ccom a coluna Sp. Atk
for linha in tabela.index:
    spatk = tabela.loc[linha,'Sp. Atk']

    #removendo os valores que nao precisamos (<80 e >120)
    if spatk <= 80 or spatk >= 120:
        tabela = tabela.drop(linha)

#mostrando os resultados 
display(tabela)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,1001,Wo Chien,Dark,Grass,570,85,85,100,95,135,70,9,False
1080,1002,Chien Pao,Dark,Ice,570,80,120,80,90,65,135,9,False
1085,1007,Koraidon,Fighting,Dragon,670,100,135,115,85,100,135,9,True
1089,1011,Dipplin,Grass,Dragon,485,80,80,110,95,80,40,9,False
1103,1025,Pecharunt,Poison,Ghost,600,88,88,160,88,88,88,9,True

In [10]:
# 4 . pegue a geração pokemon com maior numero de pokemons

#numeros de pokemon por geração
tabela_valores = tabela_original['Generation'].value_counts().sort_index()

print(tabela_valores)

#observando qual geração pertencem e o maior numero de pokemons 
geracao = tabela_valores.idxmax()
num_pokemons = tabela_valores.max()

#mostrando resultados
print(f'\nO maior numero de pokemon esta na geração: {geracao} e são {num_pokemons} pokemons')

Generation
1    166
2    106
3    160
4    121
5    165
6     82
7     88
8     96
9    120
Name: count, dtype: int64

O maior numero de pokemon esta na geração: 1 e são 166 pokemons

In [11]:
# 5 . pegue os pokemons com apenas um único tipo, quantos pokemons são e qual a media entre os tipos

#copiando a tabela original e pegando os que não possuem 2º tipo
tabela = tabela_original[tabela_original['Type 2'].isnull()]

#contando os pokemons que possuem um único tipo
quant_nulo = tabela.shape[0]

#quantidade de tipos existentes 
quant_tipos = 18

#dividindo para saber a média
media_tipos = quant_nulo // quant_tipos

#mostrando resultados
display(tabela)
print(f'O numero de pokemons de tipo único são: {quant_nulo} e a media de tipos dentre eles é: {media_tipos}')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,977,Dondozo,Water,NaN,530,150,100,115,65,65,35,9,False
1060,982,Dudunsparce,Normal,NaN,520,125,100,80,85,75,55,9,False
1077,999,Gimmighoul,Ghost,NaN,300,45,30,25,75,45,80,9,False
1095,1017,Ogerpon,Grass,NaN,550,80,120,84,60,96,110,9,True
1102,1024,Terapagos,Normal,NaN,700,160,105,110,130,110,85,9,True

O numero de pokemons de tipo único são: 512 e a media de tipos dentre eles é: 28

In [12]:
# 6 .  pegue os pokemons que começam com j 

#copiando a tabela original
tabela_nomes= tabela_original.copy()

#utilizando a função que pega a primeira letra do nome dos pokemons
tabela = tabela_nomes[tabela_nomes['Name'].str.startswith('J')]

#mostrando os resultados com a letra desejada
display(tabela)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
133,124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
204,189,Jumpluff,Grass,Flying,460,75,55,70,55,95,110,2,False
427,385,Jirachi,Steel,Psychic,600,100,100,100,100,100,100,3,True
654,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
860,782,Jangmo-o,Dragon,NaN,300,45,55,65,45,45,45,7,False

In [15]:
# 7 . pegue o tipo mais comum de pokemon

#contando os tipos de pokemons 1 e 2 
contagem_tipos = tabela_original['Type 1'].value_counts()
contagem_tipos2 = tabela_original['Type 2'].value_counts()

#adicionando os dois resultados
contagem_geral = contagem_tipos.add(contagem_tipos2)

#pegando o maior numero 
tipo_mais_comum = contagem_geral.idxmax()

#mostrando os resultados 
print("O tipo de Pokémon mais comum é:", tipo_mais_comum)

O tipo de Pokémon mais comum é: Water